# package directories
node_modules

# dotenv environment variables files
*.env
.env.*
# .env used as template
!.env

# Secrets
keyfile.json

# IDE directories
.idea

# Compiled files
.build/
.serverless/
